@charset "utf-8";
/* CSS DOC */

body {
    margin:0px;
    padding: 0px;
    background-color: #edf1fd;
}

ul {
    list-style: none;
}

a {
    text-decoration: dashed;
}

#main{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #eec972;

    background-image: url("../imgs/yz.png");
    background-repeat: no-repeat;
    background-size: right;
    background-position: right bottom;
    background-size: auto 90%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    box-sizing: border-box;
    padding: 0.5% 50px;
    background-color: blanchedalmond;
    box-shadow: 2px 5px 12px rgb(0,0,0,.05);
    z-index: 1;
    background-image: url("../imgs/coffee.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.menu {
    display: flex;
    padding: 10px 15px;
}

.menu li a {
    padding: 10px, 15px;
    color: blanchedalmond;
    font-size: 14px
}

.menu li a:hover,
.active {
    background-color: rgb(90, 87, 255);
    color: #FFFFFF !important ;
    font-weight: 700;
    transition: all ease .6s;
}

.lang {
    color:#6c707c
}

.logo {
    width:60px;
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.top-topic {
    display: flex;
    flex-direction: row;
    
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0px;
    letter-spacing: 3px;
}

.type{
    font-family: cursive;
    color:#0e4b91;
}

.name p:nth-child(1)
.name .details {
    color: #6c707c;
    font-size: 24px;
}

.name h1 {
    font-family: cursive;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

.cv-btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2369;
    color: #FFFFFF;
}

.cv-btn:hover {
    background-color: #131313;
    transition: all ease .5s;
}

.social {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 8px;
}

.social a {
    margin: 6px;
}

.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 20px;
}

.social a:hover i {
    color: #1a17d1;
    transition: all ease .5s;
}


.arrow {
    border: solid black;
    border-width: 10px 30px 30px 10px;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2em;
    position: absolute;
}
  
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%, 5%, 0px 5%;
    background-color: #131313;
}

.about-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    padding: 5%;
}

.about-text h1 {
    font-size: 40px;
    color: blanchedalmond;
    font-weight: 400;
    padding: 0px;
}

.about-text h2{
    color: #FFFFFF;
    margin: 0px;
    padding: 0x;
}

.about-text h1, h2{
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.about-text p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.938);
}

.about-text button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    transform: translate(-5%, -0%);
    border: none;
    outline: none;
    background-color: #17d1ac;
}

.about-text button:hover {
    background-color: #FFFFFF;
    transition: all ease .8s;
}

#project {
    width: 100%;
    height: 125vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40ox;
}

.p-heading h1 {
    color: rgba(40, 16, 175, 0.938);
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

.p-heading p {
    color: rgb(5, 2, 26);
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.p-heading {
    text-align: center;
    margin: 20px;
    padding: 0px;
}

.p-box{
  background-color: #FFFFFF;
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}

.p-b-container{
  display: flex; 
  justify-content: center;
  align-content: center;
}

.p-b-img{
    display:flex;
    width: 100%;
    height: 60%;
}
.p-b-img img{
    width:100%;
    height: 100%;
}

.p-b-text{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 40%;
  background-color:#FFFFFF;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-b-text p {
    display: inline;
    height: 50%;
    margin: 0%;
}

.p-b-p-t {
    width: 80%;
    height: 40%;
    background-color:#FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.p-b-p-t {
    width: 80%;
    height: 40%;
    background-color:#FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.p-b-p-t-2 p {
    text-align: left;
}

.position {
    color: rgb(16, 12, 44);
    font-family:fantasy;
    
}

.time {
    color: #6c707c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-b-t-c {
    display: inline;
    width: 80%;
    text-align: left;
    color: #5a6583;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:normal;
}

.p-type{
  font-family: calibri;
  color:#FFFFFF;
  background-color: #151515;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}


.p-box:hover{
  transform:translateY(-10px);
  transition: all ease 0.2s;
}

#copy-right {
    height: 20px;
    bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy-right-box {
    padding: 0px;
}